.cartDetails {
    background-color: #fff;
    display: flex;
    flex-flow: column;
    position: absolute;
    width: 100%;
    max-height: 1000rem;
    bottom: 0;
    padding-bottom: 120rem;
    border-top-left-radius: 30rem;
    border-top-right-radius: 30rem;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 30rem 30rem;
}
.title {
    font-weight: bold;
    font-size: 30rem;
    margin: 0;
}
.clear {
    color: #aaa;
    font-size: 24rem;
}
.clear span {
    margin-left: 16rem;
}
.mealList {
    overflow: auto;
}